*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'VT323', monospace;
}

body {
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    background-color: rgb(58, 58, 59);
    
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.content p {
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 420px;
}

form {
    width: 420px;
    height: 150px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
}

form fieldset {
    border: 2px solid white;
    height: 150px;
}

.pin {
    margin-top: 15px;
}

.pin input {
    margin: .1rem;
    width: 25px;
    height: 35px;
    text-align: center;
    font-size: 2rem;
}

.pin input:focus{
    outline: none;
}

form button {
    margin-top: 15px;
    border: 3px lightgray outset;
    background-color: lightgray;
}

.red{background-color: red; color: black; border: 3px red outset;}
.pink{background-color: pink; color:black; border: 3px pink outset;}
.green{background-color: green; color: black; border: 3px green outset;}
.blue {background-color: blue; color: black; border: 3px blue outset;}
.white{background-color: white; color: black; border: 3px white outset;}
.black{background-color: black; color: white; border: 3px black outset;}
.gray {background-color: gray; color: black; border: 3px gray outset;}