*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color:#292929;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    background-color: #383536;
    
    width: 600px;
    height: 300px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #333;
    margin: 0 0.5rem;
    background-color: red;
}

.red{background-color: red;}
.pink{background-color: pink;}
.green{background-color: green;}
.blue {background-color: blue;}
.white{background-color: white;}
.black{background-color: black;}

form .pin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin input {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid #333;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3rem;
    border-radius: 4px;
    background-color: #4d4b4c;
}